body {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    padding: 15px;
    max-width: 100%;
    margin: auto;
    background: #121212;
    color: #E0E0E0;
}
.container {
    background: #1E1E1E;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 380px;
    margin: auto;
    position: relative;
}
h2 {
    color: #66BB6A;
    font-size: 22px;
}
#currentDateTime, #currentYear {
    font-size: 16px;
    margin-bottom: 5px;
    color: #FFD54F;
}
input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    font-size: 14px;
    border: 1px solid #424242;
    background: #2C2C2C;
    color: white;
    border-radius: 5px;
}
button {
    width: 90%;
    padding: 12px;
    background: #26A69A;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
button:hover {
    background: #00796B;
}
#results {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #E0E0E0;
}
.progress-bar {
    width: 90%;
    background: #2C2C2C;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.progress-bar div {
    height: 20px;
    background: #26A69A;
    text-align: center;
    color: white;
    line-height: 20px;
}
.fullscreen-btn, .back-btn {
    position: fixed;
    bottom: 15px;
    width: 35px;
    height: 35px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: background 0.3s;
}
.fullscreen-btn {
    right: 15px;
    background: rgba(255, 152, 0, 0.3);
}
.fullscreen-btn:hover {
    background: rgba(245, 124, 0, 0.6);
}
.back-btn {
    left: 15px;
    background: rgba(52, 152, 219, 0.3);
}
.back-btn:hover {
    background: rgba(41, 128, 185, 0.6);
}
